// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colours";

//Footer CSS
#header_container h1 {
  text-align:center;
}

#footer_container {
  border-top-padding:10px;
  border-top-width:2px;
  border-top-style:dotted;
  border-top-color: $blue;

  margin-top:20px;
  padding-top:20px;
}

#foot_nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#masthead {
  text-align:center;
}

#index_images {
  float: left;
  margin: 10px;
}

#show_menu {
  margin-top:10px;
    ul {
      list-style-type:none;
      margin:0;
      padding:0;
    }

    li {
      width: 60px;
      float: left;
      display: block;
  }
}

.clearfix{
  clear: both;
}

/* FLASHES */

.flash {
  color: $primary-text-color;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: #ffc 0 0 4px;

  &.notice {
    background-color: $flash-notice-color;
  }

  &.alert {
    background-color: $flash-alert-color;
  }
}
