<div id="footer_container">
  <ul id="foot_nav">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">RSS Feed</a></li>
  </ul>
  <p>
This web site has been created as part of the training exercise from Mike and Nicole Clark of Pragmatic Studios (www.pragmaticstudio.com) using Ruby on Rails 4.0

Exercise completed by Sean Smith of Commercial Application (www.comapps.net)
  </p>
</div>
